{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registeration</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body style="background-image: url({% static 'images/home_slider.jpg' %});">
    <form action="register" method="POST" style="top: 50%; left: 50%; position: absolute; transform:translate(-50%, -50%); width: 350px;">
        {% csrf_token %}

        <h3 style="text-align: center; font-size: xx-large; color:aliceblue;">Register</h3>
        <input type="text" name="first_name" placeholder="First Name" style="width: 300px; height: 25px; margin: 15px; border-radius: 5px;"><br>
        <input type="text" name="last_name" placeholder="Last Name" style="width: 300px; height: 25px; margin: 15px; border-radius: 5px;"><br>
        <input type="text" name="username" placeholder="UserName" style="width: 300px; height: 25px; margin: 15px; border-radius: 5px;"><br>
        <input type="email" name="email" placeholder="Email" style="width: 300px; height: 25px; margin: 15px; border-radius: 5px;"><br>
        <input type="password" name="password1" placeholder="Password" style="width: 300px; height: 25px; margin: 15px; border-radius: 5px;"><br>
        <input type="password" name="password2" placeholder="Confirm Password" style="width: 300px; height: 25px; margin: 15px; border-radius: 5px;"><br>
        <input type="submit" style="width:80px; margin: 15px; border-radius: 5px; margin-left: 35%">
    </form>
    
    <div style="display:block; color:rgb(6, 164, 204); font-size:x-large; top: 90%; left: 50%; position: absolute; transform:translate(-50%, -50%);">
        {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
    </div>
</body>
</html>